/* https://highlightjs.readthedocs.io/en/latest/css-classes-reference.html */
pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
}
code.hljs {
    padding: 3px 5px;
}
.hljs {
    color: var(--cm-color-editor-text);
}

.hljs-keyword { color: var(--cm-color-keyword); }

.hljs-built_in,
.hljs-type { color: var(--cm-color-builtin); }

.hljs-literal,
.hljs-number { color: var(--cm-color-literal); }

.hljs-property { color: var(--cm-color-symbol); }

.hljs-regexp,
.hljs-string { color: var(--cm-color-string); }

.hljs-char.escape { color: var(--cm-color-literal); }
.hljs-subst { color: var(--cm-color-editor-text); }
.hljs-symbol { color: var(--cm-color-symbol); }

.hljs-variable,
.hljs-title { color: var(--cm-color-variable); }

.hljs-comment { color: var(--cm-color-comment); }
.hljs-doctag { color: var(--cm-color-keyword); }

.hljs-meta { color: var(--cm-color-macro); font-weight: 700; }

.hljs-bullet { color: var(--cm-color-keyword); }
.hljs-emphasis { font-style: italic; }
.hljs-strong { font-weight: 700; }
.hljs-link { color: var(--cm-color-string); text-decoration: underline; }
.hljs-quote { color: var(--cm-color-comment); }

.hljs-code,
.hljs-formula { color: var(--cm-color-comment); }

.hljs-selector-tag,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo { color: var(--cm-color-variable); }

.hljs-template-tag { color: var(--cm-color-symbol); }
.hljs-template-variable { color: var(--cm-color-variable); }

/* .hljs-addition {} */
/* .hljs-deletion {} */
