@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/npm/@fontsource/roboto-mono@4.4.5/400.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/roboto-mono@4.4.5/400-italic.css");

@import url("./fonts/vollkorn.css");
@import url("./fonts/juliamono.css");

@import url("./themes/light.css");
@import url("./themes/dark.css");

@import url("featured-card.css");

* {
    box-sizing: border-box;
}
html {
    font-size: 17px;
}

#title h1 {
    font-style: italic;
    font-size: 2em;
    letter-spacing: 0.08em;
    font-weight: 500;
    font-family: "Vollkorn", Palatino, serif;
    color: var(--pluto-output-h-color);
    margin: 0px;
    padding: 4rem 1rem 3rem 1rem;
    /* flex: 1 1 auto; */ /* max-width: 920px; */
    text-align: center;
}

#title h1 img {
    height: 1.2em;
    width: 4.9em;
    margin-bottom: -0.27em;
    /* margin-right: -1.5em; */
    margin-left: 0.1em;
    filter: var(--image-filters);
}

body {
    margin: 0px;
    position: absolute;
    width: 100%;
    min-height: 100%;
    background: var(--main-bg-color);
}

p {
    color: var(--index-text-color);
}

ul {
    padding-left: 0;
    list-style: none;
}

li {
    white-space: nowrap;
    padding: 0.4em;
    border-bottom: 1px solid var(--welcome-recentnotebook-border);
}

a {
    color: inherit;

    color: var(--index-clickable-text-color);
}

/* input {
            width: 70%;
            font-family: inherit;
            background: #ffffff;
            border: 3px solid #d1d1d1;
            border-radius: 6px;
            padding: 3px;
            margin-block-start: .7em;
        } */

pluto-filepicker {
    display: flex;
    flex-direction: row;
    /* margin-top: 0.3rem; */
    background: var(--white);
}

.desktop_picker {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
}

pluto-filepicker .cm-editor {
    height: calc(1rem + 4px + 4px + 4px);
    display: inline-block;
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-family: var(--inter-ui-font-stack);
    font-size: 0.75rem;
    letter-spacing: 1px;
    background: none;
    color: var(--nav-filepicker-color);
    border: 2px solid var(--footer-filepicker-focus-color);
    border-radius: 3px;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    flex: 1 1 auto;
    width: 0px;
    /* min-width: 0px; */
}

pluto-filepicker .cm-scroller {
    scrollbar-width: none; /* Firefox */
}
pluto-filepicker .cm-scroller::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

pluto-filepicker button,
.desktop_picker button {
    margin: 0px;
    background: var(--footer-filepicker-focus-color);
    border-radius: 3px;
    border: 2px solid var(--nav-filepicker-focus-color);
    color: var(--white);
    /* border: none; */
    font-family: "Roboto Mono", monospace;
    font-weight: 600;
    font-size: 0.75rem;
}

.desktop_picker_group {
    display: inline-flex;
}

.desktop_picker_group > input {
    margin-left: 1em;
}

.desktop_picker > button {
    cursor: pointer;
}

.desktop_picker > button.full_width {
    width: 100%;
}

pluto-filepicker button {
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    flex: 0 1 auto;
}

pluto-filepicker button:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.cm-editor .cm-tooltip {
    border: 1px solid var(--cm-color-editor-tooltip-border);
    box-shadow: 3px 3px 4px rgb(0 0 0 / 20%);
    border-radius: 4px;
}

.cm-tooltip-autocomplete {
    box-sizing: content-box;
    z-index: 100;
}

.cm-editor .cm-tooltip.cm-tooltip-autocomplete > ul {
    max-height: max(3em, min(50dvh, 20em));
}

.cm-tooltip.cm-completionInfo.cm-completionInfo-right:empty {
    /* https://github.com/codemirror/codemirror.next/issues/574 */
    display: none;
}

.cm-editor .cm-tooltip.cm-tooltip-autocomplete > ul > li {
    /* this is the line height rounded to an integer to prevent jiggle */
    height: 18px;
    overflow-y: hidden;
    /* font-size: 16px; */
    /* line-height: 16px; */
    border-radius: 3px;
    margin-bottom: unset;
}

.cm-editor .cm-tooltip.cm-tooltip-autocomplete > ul > li[aria-selected] {
    color: var(--cm-color-editor-li-aria-selected);
    background: var(--cm-color-editor-li-aria-selected-bg);
}

.cm-editor .cm-completionIcon {
    display: none;
}

.cm-completionIcon::before {
    content: "⚫";
    color: transparent;
    margin-right: 0.5em;
    opacity: 1;
}

.cm-tooltip.cm-tooltip-autocomplete {
    padding: 0;
    margin-left: -1.5em;
    background: var(--autocomplete-menu-bg-color);
}

.cm-tooltip-autocomplete li.file.new:before {
    content: "👉 ";
}

.cm-tooltip-autocomplete li.file:before {
    content: "📄 ";
}

.cm-tooltip-autocomplete li.dir:before {
    content: "📁 ";
}

.cm-tooltip-autocomplete > ul {
    padding: 0;
}

.cm-editor .cm-tooltip-autocomplete .cm-completionLabel {
    font-family: var(--inter-ui-font-stack);
    font-weight: 400;
    font-variant-ligatures: none;
    font-size: 0.8rem;
}

body.nosessions ul#new ~ * {
    display: none;
}

#recent {
    scrollbar-gutter: stable;
    background: var(--welcome-recentnotebook-bg); /* margin-bottom: 8em; */
    max-height: 16em;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 0.4rem;
    box-shadow: -2px 4px 9px 0px #00000012;
    border: 0.2rem solid #d5d5d5;
}

#recent > li.recent {
    opacity: 0.8;
}

#recent button {
    margin: 0px;
    margin-right: 0.2em;
    padding: 1px;
    opacity: 0.6;
    border: none;
    background: none;
    cursor: pointer;
    /* color: hsl(204, 86%, 35%); */
    color: var(--ui-button-color);
}

span.ionicon::after {
    display: inline-block;
    content: " ";
    background-size: 1rem 1rem;
    height: 1rem;
    width: 1rem;
    margin-bottom: -0.17rem;
    filter: var(--image-filters);
}

#recent li.running button > span::after {
    background-image: url("https://cdn.jsdelivr.net/gh/ionic-team/ionicons@5.5.1/src/svg/close-circle.svg");
}

#recent li.recent button > span::after {
    background-image: url("https://cdn.jsdelivr.net/gh/ionic-team/ionicons@5.5.1/src/svg/caret-forward-circle-outline.svg");
}

#recent li.transitioning button > span::after {
    background-image: url("https://cdn.jsdelivr.net/gh/ionic-team/ionicons@5.5.1/src/svg/ellipsis-horizontal-outline.svg");
}

#recent li.new span::after {
    background-image: url("https://cdn.jsdelivr.net/gh/ionic-team/ionicons@5.5.1/src/svg/add-outline.svg");
}

loading-bar {
    height: 6px;
    width: 100vw;
    background-color: var(--loading-grad-color-1);
    position: fixed;
    top: 0px;
    display: none;
}

body.loading loading-bar {
    animation: 16s ease-in-out load;
    display: block;
}

@keyframes load {
    0% {
        right: 100vw;
    }
    20% {
        right: 30vw;
    }

    100% {
        right: 0vw;
    }
}

.card-list {
    display: grid;
    /* grid-auto-columns: 50px; */
    place-items: center;
    align-items: stretch;
    grid-template-columns: repeat(auto-fit, minmax(var(--card-width), 1fr));
    gap: 0rem;
    justify-items: stretch;
}

.navigating-away-banner {
    width: 100vw;
    min-height: 70vh;
    place-content: center;
    display: grid;
    padding: 3em;
}

.navigating-away-banner h2 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
