@import url("https://fonts.googleapis.com/css?family=Vollkorn:600,600i&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext");
@import url("juliamono.css");

#title {
    /* position: absolute; */
    /* left: 0; */
    /* right: 0; */
    margin-top: 34vh;
    /* bottom: 0; */
    /* margin: auto; */
    display: block;
    width: 100%;
    text-align: center;
}

body.error #title,
body.statistics #title {
    margin-top: 10vh;
    /* text-align: left; */
}

#title h1,
#title h2 {
    font-style: italic;
    font-size: 2em;
    letter-spacing: 0.08em;
    font-weight: 500;
    font-family: "Vollkorn", serif;
    color: hsl(0, 0%, 26%);
    margin: 0px;
    border-bottom: solid 2px hsl(0, 0%, 88%);
}

#title h2 {
    font-size: 1.4em;
}

#title img {
    height: 1.2em;
    margin-bottom: -0.27em;
    /* margin-right: -1.5em; */
    margin-left: 0.1em;
}

body {
    margin: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
}

main {
    width: 15em;
    margin: 0 auto;
    margin-top: 20vh;
    margin-bottom: 10em;
    text-align: left;
    font-family: "Roboto Mono", monospace;
    color: hsl(0, 0%, 60%);
}

body.error main,
body.statistics main {
    width: unset;
    max-width: 40em;
    padding: 0.5em;
    margin-top: 5vh;
    font-size: 14px;
}

p {
    color: hsl(0, 0%, 30%);
}

ul {
    padding-left: 0.5em;
    list-style: none;
}

li {
    white-space: nowrap;
    margin-bottom: 0.9em;
}

a {
    color: inherit;
    color: hsl(0, 0%, 30%);
}

/* input {
            width: 70%;
            font-family: inherit;
            background: #ffffff;
            border: 3px solid #d1d1d1;
            border-radius: 6px;
            padding: 3px;
            margin-block-start: .7em;
        } */

pluto-filepicker {
    display: flex;
    flex-direction: row;
    margin-top: 0.3rem;
}

pluto-filepicker .CodeMirror {
    height: calc(1rem + 4px + 4px);
    display: inline-block;
    width: 100%;
    opacity: 0.6;
    font-style: normal;
    font-weight: 500;
    font-family: "Roboto Mono", monospace;
    font-size: 0.75rem;
    letter-spacing: 1px;
    background: none;
    border: 2px solid #818181;
    border-radius: 3px;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

pluto-filepicker .CodeMirror-scroll {
    overflow: hidden !important;
}

pluto-filepicker button {
    background: #6c8489;
    border-radius: 3px;
    border: 2px solid #6c8489;
    color: white;
    /* border: none; */
    font-family: "Roboto Mono", monospace;
    font-weight: 600;
    font-size: 0.75rem;
}

pluto-filepicker button {
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

li.file.new.CodeMirror-hint:before {
    content: "👉 ";
}

li.file.CodeMirror-hint:before {
    content: "📄 ";
}

li.dir.CodeMirror-hint:before {
    content: "📁 ";
}

ul.CodeMirror-hints {
    padding: 0;
}

ul.CodeMirror-hints {
    font-family: JuliaMono, monospace !important;
    font-size: 0.75em;
}

body.nosessions ul#new ~ * {
    display: none;
}

#recent > li.recent {
    opacity: 0.8;
}

#recent button {
    margin: 0px;
    margin-right: 0.2em;
    padding: 1px;
    opacity: 0.6;
    border: none;
    background: none;
    cursor: pointer;
    /* color: hsl(204, 86%, 35%); */
    color: black;
}

#recent button > span::after {
    display: block;
    content: " ";
    background-size: 17px 17px;
    height: 17px;
    width: 17px;
    margin-bottom: -3px;
}

#recent li.running button > span::after {
    background-image: url(https://cdn.jsdelivr.net/gh/ionic-team/ionicons@5.0.0/src/svg/close-circle.svg);
}

#recent li.recent button > span::after {
    background-image: url(https://cdn.jsdelivr.net/gh/ionic-team/ionicons@5.0.0/src/svg/caret-forward-circle-outline.svg);
}

#recent li.transitioning button > span::after {
    background-image: url(https://cdn.jsdelivr.net/gh/ionic-team/ionicons@5.0.0/src/svg/ellipsis-horizontal-outline.svg);
}

loading-bar {
    height: 6px;
    width: 100vw;
    background-color: #b1c9dd;
    position: fixed;
    top: 0px;
    display: none;
}

body.loading loading-bar {
    animation: 12s ease-in-out load;
    display: block;
}

@keyframes load {
    0% {
        right: 100vw;
    }
    20% {
        right: 30vw;
    }

    100% {
        right: 0vw;
    }
}
