@import url('https://fonts.googleapis.com/css?family=Vollkorn:600,600i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,greek,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400i,500,500i,700,700i&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,300i,400,400i,500,500i,700,700i&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
celloutput {
    /* background-color: #ffffff; */
    /* font-family: 'Open Sans', serif; */
    /* font-family: 'Roboto Slab';
    font-weight: 300;
    letter-spacing: .4px; */
    /* font-family: 'Open Sans';
    font-weight: 400; */
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: hsl(0, 0%, 25%);
}

body.swoosh {
    animation: 🌈 30s linear 0s infinite;
}

celloutput h1,
celloutput h2,
celloutput h3,
celloutput h4,
celloutput h5,
celloutput h6 {
    font-family: 'Vollkorn', serif;
    font-weight: 700;
    color: hsl(0, 0%, 12%);
}

celloutput h1:first-child,
celloutput h2:first-child,
celloutput h3:first-child,
celloutput h4:first-child,
celloutput h5:first-child,
celloutput h6:first-child {
    margin-block-start: 0px;
}

celloutput p {
    margin-block-start: 8px;
    margin-block-end: 20px;
    word-spacing: 0.053em;
    line-height: 1.5em;
}

celloutput p:first-child {
    margin-block-start: 0px;
}

celloutput p:last-child {
    margin-block-end: 0px;
}


/* HEADER */


/* MAIN */

main {
    max-width: 700px;
    padding-right: 6px;
    padding-left: 20px;
}

cell {
    margin-top: 20px;
    position: relative;
}

cell:focus-within {
    /* box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.2); */
    /* box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.8); */
    /* border-left: 4px solid hsl(0, 0%, 0%); */
}

celloutput {
    background-color: white;
    /* border: 1px solid rgba(0, 0, 0, .1); */
    /* border-top-left-radius: 4px; */
    /* border-top-right-radius: 4px; */
    overflow-x: auto;
}

celloutput:focus {
    outline: none;
}

celloutput > pre {
    margin: 0px;
}

code {
    font-family: 'Roboto Mono', monospace;
}

.errormessage {
    color: darkred;
    font-weight: bold;
}

ul.CodeMirror-hints {
    padding: 0;
}

.CodeMirror,
ul.CodeMirror-hints {
    font-family: 'Roboto Mono', monospace !important;
    font-size: .75em;
}
.CodeMirror{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .1);
    /* border-top: none; */
    width: auto;
}

preamble>button,
cell>button,
cellinput>button,
runarea>button,
confirmationdialog>button {
    margin: 0px;
    padding: 1px;
    opacity: 50%;
    border: none;
    background: none;
    cursor: pointer;
    /* color: hsl(204, 86%, 35%); */
    color: black;
    font-family: 'Segoe UI Emoji', 'Roboto Mono', monospace;
    position: absolute;
    z-index: 3;
    /* CodeMirror is 2 */
}

preamble>button {
    right: 0px;
}
preamble>button>span::after{
    background-size: 17px 17px;
    display: block;
    content: "Run all" !important;
    background-image: url(https://unpkg.com/ionicons@5.0.0/dist/svg/refresh-outline.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 1px;
    padding-right: 20px;
}

@media screen and (any-pointer: fine) {
    cell>button,
    cellinput>button,
    runarea>button,
    cell>runarea {
        opacity: 0%;
        /* to make it feel smooth: */
        transition: opacity .25s ease-in-out;
    }
    
    cell:hover>button,
    cell:hover>cellinput>button,
    cell:hover>runarea>button {
        opacity: 25%;
    }
    preamble>button:hover,
    cell>button:hover,
    cell>cellinput>button:hover,
    cell>runarea:hover>button,
    cell:hover>runarea {
        opacity: 100%;
        /* to make it feel snappy: */
        transition: opacity .05s ease-in-out;
    }
}

@media screen and (any-pointer: coarse) {
    cell>button,
    cellinput>button,
    runarea>button,
    cell>runarea {
        opacity: 0%;
        /* to make it feel smooth: */
        transition: opacity .25s ease-in-out;
    }
    cell:focus-within>button,
    cell:focus-within>cellinput>button,
    cell:focus-within>runarea>button,
    cell:focus-within>runarea {
        opacity: 25%;
    }
    cell>button:focus-within,
    cell>cellinput>button:focus-within
    cell>runarea>button:focus-within,
    cell>runarea {
        opacity: 100%;
        /* to make it feel snappy: */
        transition: opacity .05s ease-in-out;
    }
}

cell>button>span::after,
cellinput>button>span::after,
runarea>button>span::after {
    display: block;
    content: " " !important;
    background-size: 17px 17px;
    height: 17px;
    width: 17px;
}

cell>button.addcell {
    /* width: 100%; */
    /* font-family: 'Roboto Mono', monospace; */
    /* font-style: italic; */
    /* height:20px; */
    left: -12px;
}

cell>button.addcell.before {
    margin-top: -20px !important;
}

cell>button.addcell>span::after {
    /* background-image: url(https://unpkg.com/ionicons@5.0.0/dist/svg/add-circle-outline.svg); */
    background-image: url(https://unpkg.com/ionicons@5.0.0/dist/svg/add-outline.svg);
}

runarea {
    margin-right: 3px;
    display: block;
    height: 18px;
    position: absolute;
    right: 0px;
    min-width: 75px;
    background-color: hsl(0, 0%, 97%);
    /* border: 2px solid hsla(0, 0%, 0%, 0.1); */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none;
}

runarea>span{
    font-family: 'Roboto Mono';
    font-size: .6em;
    display: inline-block;
    position: absolute;
    top: 2px;
    right: 24px;
    font-style: italic;
    color: hsl(353, 5%, 64%);
    width: 45px;
    text-align: center;
}

runarea>button.runcell {
    top: -1px;
    right: 1px;
}

runarea>button.runcell>span::after {
    background-image: url(https://unpkg.com/ionicons@5.0.0/dist/svg/caret-forward-circle-outline.svg);
}

cell.running>runarea>button.runcell>span::after {
    background-image: url(https://unpkg.com/ionicons@5.0.0/dist/svg/stop-circle-outline.svg);
}

cellinput>button.deletecell {
    /* top: 3px; */
    /* left: -26px; */
    right: 0px;
    padding: 5px;
}

cellinput>button.deletecell>span::after {
    background-image: url(https://unpkg.com/ionicons@5.0.0/dist/svg/close-circle-outline.svg);
}

trafficlight {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    transition: background .15s ease-in-out;
}

@media screen and (any-pointer: fine) {
    cell:hover>trafficlight {
        background: rgba(0, 0, 0, .1);
        transition: background .05s ease-in-out;
    }
}

@media screen and (any-pointer: coarse) {
    cell:focus-within>trafficlight {
        background: rgba(0, 0, 0, .1);
        transition: background .05s ease-in-out;
    }
}

cell.dependent>trafficlight {
    background: lightblue;
}

cell.warning>trafficlight {
    background: hsl(39, 100%, 75%);
}

cell.error>trafficlight {
    background: hsl(0, 100%, 71%);
}

cell.running>trafficlight {
    background: repeating-linear-gradient( -45deg, hsla(20, 20%, 80%, 1), hsla(20, 20%, 80%, 1) 8px, hsla(20, 20%, 80%, .1) 8px, hsla(20, 20%, 80%, .1) 16px);
    background-size: 4px 22.62741699797px;
    /* 16 * sqrt(2) */
    animation: 2s linear 0s infinite running scrollbackground;
}

cell.running.error>trafficlight {
    background: repeating-linear-gradient( -45deg, hsl(0, 100%, 71%), hsl(0, 100%, 71%) 8px, hsla(12, 71%, 47%, 0.33) 8px, hsla(12, 71%, 47%, 0.33) 16px);
    background-size: 4px 22.62741699797px;
    /* 16 * sqrt(2) */
    animation: 2s linear 0s infinite running scrollbackground;
}

@keyframes scrollbackground {
    0% {
        background-position-y: 0px;
    }
    100% {
        background-position-y: 22.62741699797px;
        /* 16 * sqrt(2) */
    }
}

cell.dependent>cellinput>.CodeMirror,
cell.warning>cellinput>.CodeMirror,
cell.error>cellinput>.CodeMirror {
    border-left: none;
    padding-left: 1px;
    border-bottom-left-radius: 0px;
}

@media screen {
    cell:hover>cellinput>.CodeMirror {
        border-left: none;
        padding-left: 1px;
        border-bottom-left-radius: 0px;
    }
}

confirmationdialog {
    position: absolute;
    background: white;
    /* border: 2px solid #4a08083b; */
    border-radius: 6px;
    margin-left: -180px;
    margin-top: -18px;
    padding: 6px;
    font-size: .7em;
    z-index: 10;
}

confirmationdialog>button {
    position: relative;
    color: block;
    opacity: 100%;
    font-size: inherit;
    color: black;
}

confirmationdialog span {
    font-family: 'Roboto Mono', monospace;
}

confirmationdialog>button#yes>span::after {
    color: darkred;
}

confirmationdialog>button#no>span::after {
    /* text-decoration: underline; */
}

@keyframes 🌈 {
    from {
        background-color: hsl(0, 100%, 98%);
    }
    10% {
        background-color: hsl(90, 100%, 98%);
    }
    50% {
        background-color: hsl(180, 100%, 98%);
    }
    75% {
        background-color: hsl(270, 100%, 98%);
    }
    100% {
        background-color: hsl(360, 100%, 98%);
    }
}


/* CODEMIRROR STYLE */


/*
Based on "Paraíso (Light)" by Jan T. Sott:
    Color scheme by Jan T. Sott (https://github.com/idleberg/Paraiso-CodeMirror)
    Inspired by the art of Rubens LP (http://www.rubenslp.com.br)
*/

.cm-s-default.CodeMirror {
    background: hsla(46, 90%, 98%, 1);
    color: #41323f;
}

.cm-s-default div.CodeMirror-selected {
    background: #b9b6b0;
}

.cm-s-default .CodeMirror-line::selection,
.cm-s-default .CodeMirror-line>span::selection,
.cm-s-default .CodeMirror-line>span>span::selection {
    background: #b9b6b0;
}

.cm-s-default .CodeMirror-line::-moz-selection,
.cm-s-default .CodeMirror-line>span::-moz-selection,
.cm-s-default .CodeMirror-line>span>span::-moz-selection {
    background: #b9b6b0;
}

.cm-s-default .CodeMirror-gutters {
    background: hsla(46, 90%, 98%, 1);
    border-right: solid 1px hsla(0, 0%, 0%, .0);
}

cell.output-notinsync .cm-s-default .CodeMirror-gutters,
cell.codediffers .cm-s-default .CodeMirror-gutters {
    background: hsla(46, 90%, 94%, 1);
}

.cm-s-default .CodeMirror-guttermarker {
    color: black;
}

.cm-s-default .CodeMirror-guttermarker-subtle {
    color: #8d8687;
}

.cm-s-default .CodeMirror-linenumber {
    color: #8d8687;
}

.cm-s-default .CodeMirror-cursor {
    border-left: 1px solid #776e71;
}

.cm-s-default span.cm-comment {
    color: #e96ba8;
    font-style: italic;
}

.cm-s-default span.cm-atom {
    color: #815ba4;
}

.cm-s-default span.cm-number {
    color: #815ba4;
}

.cm-s-default span.cm-property,
.cm-s-default span.cm-attribute {
    color: #48b685;
}

.cm-s-default span.cm-keyword {
    color: #ef6155;
}

.cm-s-default span.cm-string {
    color: #ce7d0a;
}

.cm-s-default span.cm-variable {
    color: #5668a4;
    font-weight: 500;
}

.cm-s-default span.cm-builtin {
    color: #5e7ad3;
    font-weight: 500;
}

.cm-s-default span.cm-variable-2 {
    color: #06b6ef;
}

.cm-s-default span.cm-def {
    color: #f99b15;
}

.cm-s-default span.cm-bracket {
    color: #41323f;
}

.cm-s-default span.cm-tag {
    color: #ef6155;
}

.cm-s-default span.cm-link {
    color: #815ba4;
}

.cm-s-default span.cm-error {
    background: #ef6155;
    color: #776e71;
}

.cm-s-default .CodeMirror-activeline-background {
    background: #CFD1C4;
}

.cm-s-default .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: white !important;
}

.cm-s-default.CodeMirror-empty {
    color: rgba(0, 0, 0, .2);
    font-style: italic;
}