/*  */

jltree {
    font-family: "Roboto Mono", monospace;
    font-size: .75rem;
    color: hsl(0, 0%, 25%, .7);
    white-space: pre;
}
jltree * {
    cursor: auto;
}
jltree {
    cursor: pointer;
}

jltree::before {
    display: inline-block;
    content: " ";
    background-size: 1em 1em;
    height: 1em;
    width: 1em;
    background-position-y: .2em;
    opacity: .5;
    cursor: pointer;
    background-image: url(https://cdn.jsdelivr.net/gh/ionic-team/ionicons@5.0.0/src/svg/caret-down-outline.svg);
}

jltree.collapsed jltree::before {
    display: none;
}

jltree.collapsed::before {
    background-image: url(https://cdn.jsdelivr.net/gh/ionic-team/ionicons@5.0.0/src/svg/caret-forward-outline.svg);
}

jltree r {
    display: block;
}

jltree.collapsed r {
    display: inline-block;
}

jltree r>v {
    display: inline-flex;
    color: hsl(0, 0%, 25%, 1);
}

jltree.collapsed jlarray>r>k,
jltree.collapsed jlstruct>r>k {
    display: none;
}


/*  */

jltree r {
    margin-left: 1em;
}

jltree.collapsed r:first-child{
    margin-left: 0;
}

jltree jlarray>r>k {
    margin-right: 1em;
    opacity: .5;
    user-select: none;
}


/*  */

jltree jlarray::before {
    content: "["
}

jltree jlarray::after {
    content: "]"
}

jltree jldict::before,
jltree jlstruct::before {
    content: "("
}

jltree jldict::after,
jltree jlstruct::after {
    content: ")"
}


/*  */

jltree jlarray>r>k::after {
    content: ":";
}

jltree jldict>r>k::after {
    content: " => "
}

jltree jlstruct>r>k::after {
    content: " = "
}

jltree.collapsed r::after {
    content: ",";
}

jltree.collapsed r:last-child::after{
    content: "";
}

jltree r>more::after {
    content: "⁝";
    margin-left: .2em;
}

jltree.collapsed r>more::after {
    content: "⋅⋅⋅";
}


/*  */

jltree.collapsed img,
jltree.collapsed svg {
    max-width: 4rem;
    max-height: 4rem;
}

jltree img,
jltree svg {
    max-width: 12rem;
    max-height: 8rem;
}