body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Cantarell, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", system-ui, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.jv-btn,
.jv-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.jv-btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.jv-btn,
.jv-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.jv-sidebar {
    /* height: 100%; */
    top: 5rem;
    /* margin-top: 75px; */
    border-radius: 12px;
    width: 160px;
    background-color: var(--nord-polar-night-4);
    position: fixed !important;
    z-index: 40;
    /* right: 0; */
    overflow: auto;
}
.jv-bar-block .jv-dropdown-hover,
.jv-bar-block .jv-dropdown-click {
    width: 100%;
}
.jv-bar-block .jv-dropdown-hover .jv-dropdown-content,
.jv-bar-block .jv-dropdown-click .jv-dropdown-content {
    min-width: 100%;
}
.jv-bar-block .jv-dropdown-hover .jv-button,
.jv-bar-block .jv-dropdown-click .jv-button {
    width: 100%;
    text-align: left;
    padding: 8px 16px;
}

.jv-bar {
    width: 100%;
    overflow: hidden;
}
.jv-center .jv-bar {
    display: inline-block;
    width: auto;
}
.jv-bar .jv-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}
.jv-bar .jv-dropdown-hover,
.jv-bar .jv-dropdown-click {
    position: static;
    float: left;
}
.jv-bar .jv-button {
    white-space: normal;
}
.jv-bar-block .jv-bar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
}
.jv-bar-block.jv-center .jv-bar-item {
    text-align: center;
}
.jv-block {
    display: block;
    width: 100%;
}
.jv-responsive {
    display: block;
    overflow-x: auto;
}

.jv-show-block,
.jv-show {
    display: block !important;
}
.jv-show-inline-block {
    display: inline-block !important;
}

@media (max-width: 600px) {
    .jv-modal-content {
        margin: 0 10px;
        width: auto !important;
    }
    .jv-modal {
        padding-top: 30px;
    }
    .jv-dropdown-hover.jv-mobile .jv-dropdown-content,
    .jv-dropdown-click.jv-mobile .jv-dropdown-content {
        position: relative;
    }
    .jv-hide-small {
        display: none !important;
    }
    .jv-mobile {
        display: block;
        width: 100% !important;
    }
    .jv-bar-item.jv-mobile,
    .jv-dropdown-hover.jv-mobile,
    .jv-dropdown-click.jv-mobile {
        text-align: center;
    }
    .jv-dropdown-hover.jv-mobile,
    .jv-dropdown-hover.jv-mobile .jv-btn,
    .jv-dropdown-hover.jv-mobile .jv-button,
    .jv-dropdown-click.jv-mobile,
    .jv-dropdown-click.jv-mobile .jv-btn,
    .jv-dropdown-click.jv-mobile .jv-button {
        width: 100%;
    }
}
@media (max-width: 768px) {
    .jv-modal-content {
        width: 500px;
    }
    .jv-modal {
        padding-top: 50px;
    }
}
@media (min-width: 993px) {
    .jv-modal-content {
        width: 900px;
    }
    .jv-hide-large {
        display: none !important;
    }
    .jv-sidebar.jv-collapse {
        display: block !important;
    }
}
@media (max-width: 992px) and (min-width: 601px) {
    .jv-hide-medium {
        display: none !important;
    }
}
@media (max-width: 992px) {
    .jv-sidebar.jv-collapse {
        display: none;
    }
    .jv-main {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .jv-auto {
        max-width: 100%;
    }
}
.jv-top,
.jv-bottom {
    position: fixed;
    width: 100%;
    z-index: 1;
}
.jv-top {
    top: 0;
}
.jv-bottom {
    bottom: 0;
}
.jv-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.jv-display-topleft {
    position: absolute;
    left: 0;
    top: 0;
}
.jv-display-topright {
    position: absolute;
    right: 0;
    top: 0;
}
.jv-display-bottomleft {
    position: absolute;
    left: 0;
    bottom: 0;
}
.jv-display-bottomright {
    position: absolute;
    right: 0;
    bottom: 0;
}
.jv-display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.jv-display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(-0%, -50%);
}
.jv-display-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
}
.jv-display-topmiddle {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
}
.jv-display-bottommiddle {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
}
.jv-display-container:hover .jv-display-hover {
    display: block;
}
.jv-display-container:hover span.jv-display-hover {
    display: inline-block;
}
.jv-display-hover {
    display: none;
}
.jv-display-position {
    position: absolute;
}
.jv-circle {
    border-radius: 50%;
}
.jv-round-small {
    border-radius: 2px;
}
.jv-round,
.jv-round-medium {
    border-radius: 4px;
}
.jv-round-large {
    border-radius: 8px;
}
.jv-round-xlarge {
    border-radius: 16px;
}
.jv-round-xxlarge {
    border-radius: 32px;
}
.jv-row-padding,
.jv-row-padding > .jv-half,
.jv-row-padding > .jv-third,
.jv-row-padding > .jv-twothird,
.jv-row-padding > .jv-threequarter,
.jv-row-padding > .jv-quarter,
.jv-row-padding > .jv-col {
    padding: 0 8px;
}
.jv-container,
.jv-panel {
    padding: 0.01em 16px;
}
.jv-panel {
    margin-top: 16px;
    margin-bottom: 16px;
}
.jv-code,
.jv-codespan {
    font-family: Consolas, "courier new";
    font-size: 16px;
}
.jv-code {
    width: auto;
    background-color: #fff;
    padding: 8px 12px;
    border-left: 4px solid #4caf50;
    word-wrap: break-word;
}
.jv-codespan {
    color: crimson;
    background-color: #f1f1f1;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 110%;
}
.jv-card,
.jv-card-2 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.jv-card-4,
.jv-hover-shadow:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
.jv-spin {
    animation: jv-spin 2s infinite linear;
}
@keyframes jv-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}
.jv-animate-fading {
    animation: fading 10s infinite;
}
@keyframes fading {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.jv-animate-opacity {
    animation: opac 0.8s;
}
@keyframes opac {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.jv-animate-top {
    position: relative;
    animation: animatetop 0.4s;
}
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
.jv-animate-left {
    position: relative;
    animation: animateleft 0.4s;
}
@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}
.jv-animate-right {
    position: relative;
    animation: animateright 0.4s;
}
@keyframes animateright {
    from {
        right: -300px;
        opacity: 0;
    }
    to {
        right: 0;
        opacity: 1;
    }
}
.jv-animate-bottom {
    position: relative;
    animation: animatebottom 0.4s;
}
@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0;
    }
    to {
        bottom: 0;
        opacity: 1;
    }
}
.jv-animate-zoom {
    animation: animatezoom 0.6s;
}
@keyframes animatezoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
.jv-animate-input {
    transition: width 0.4s ease-in-out;
}
.jv-animate-input:focus {
    width: 100% !important;
}
.jv-opacity,
.jv-hover-opacity:hover {
    opacity: 0.6;
}
.jv-opacity-off,
.jv-hover-opacity-off:hover {
    opacity: 1;
}
.jv-opacity-max {
    opacity: 0.25;
}
.jv-opacity-min {
    opacity: 0.75;
}
.jv-greyscale-max,
.jv-grayscale-max,
.jv-hover-greyscale:hover,
.jv-hover-grayscale:hover {
    filter: grayscale(100%);
}
.jv-greyscale,
.jv-grayscale {
    filter: grayscale(75%);
}
.jv-greyscale-min,
.jv-grayscale-min {
    filter: grayscale(50%);
}
.jv-sepia {
    filter: sepia(75%);
}
.jv-sepia-max,
.jv-hover-sepia:hover {
    filter: sepia(100%);
}
.jv-sepia-min {
    filter: sepia(50%);
}
.jv-tiny {
    font-size: 10px !important;
}
.jv-small {
    font-size: 12px !important;
}
.jv-medium {
    font-size: 15px !important;
}
.jv-large {
    font-size: 18px !important;
}
.jv-xlarge {
    font-size: 24px !important;
}
.jv-xxlarge {
    font-size: 36px !important;
}
.jv-xxxlarge {
    font-size: 48px !important;
}
.jv-jumbo {
    font-size: 64px !important;
}
.jv-left-align {
    text-align: left !important;
}
.jv-right-align {
    text-align: right !important;
}
.jv-justify {
    text-align: justify !important;
}
.jv-center {
    text-align: center !important;
}
.jv-border-0 {
    border: 0 !important;
}
.jv-border {
    border: 1px solid #ccc !important;
}
.jv-border-top {
    border-top: 1px solid #ccc !important;
}
.jv-border-bottom {
    border-bottom: 1px solid #ccc !important;
}
.jv-border-left {
    border-left: 1px solid #ccc !important;
}
.jv-border-right {
    border-right: 1px solid #ccc !important;
}
.jv-topbar {
    border-top: 6px solid #ccc !important;
}
.jv-bottombar {
    border-bottom: 6px solid #ccc !important;
}
.jv-leftbar {
    border-left: 6px solid #ccc !important;
}
.jv-rightbar {
    border-right: 6px solid #ccc !important;
}
.jv-section,
.jv-code {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}
.jv-margin {
    margin: 16px !important;
}
.jv-margin-top {
    margin-top: 16px !important;
}
.jv-margin-bottom {
    margin-bottom: 16px !important;
}
.jv-margin-left {
    margin-left: 16px !important;
}
.jv-margin-right {
    margin-right: 16px !important;
}
.jv-padding-small {
    padding: 4px 8px !important;
}
.jv-padding {
    padding: 8px 16px !important;
}
.jv-padding-large {
    padding: 12px 24px !important;
}
.jv-padding-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}
.jv-padding-24 {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
}
.jv-padding-32 {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}
.jv-padding-48 {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
}
.jv-padding-64 {
    padding-top: 64px !important;
    padding-bottom: 64px !important;
}
.jv-padding-top-64 {
    padding-top: 64px !important;
}
.jv-padding-top-48 {
    padding-top: 48px !important;
}
.jv-padding-top-32 {
    padding-top: 32px !important;
}
.jv-padding-top-24 {
    padding-top: 24px !important;
}
.jv-left {
    float: left !important;
}
.jv-right {
    float: right !important;
}
.jv-button:hover {
    color: #000 !important;
    background-color: #ccc !important;
}
.jv-transparent,
.jv-hover-none:hover {
    background-color: transparent !important;
}
.jv-hover-none:hover {
    box-shadow: none !important;
}
