@media (prefers-color-scheme: dark) {
    :root {
        --image-filters: invert(1) hue-rotate(180deg) contrast(0.8);
        --out-of-focus-opacity: 0.5;

        /* Color scheme */
        --main-bg-color: hsl(0deg 0% 12%);
        --rule-color: rgba(255, 255, 255, 0.15);
        --kbd-border-color: #222222;
        --header-bg-color: hsl(30deg 3% 16%);
        --header-border-color: transparent;
        --ui-button-color: rgb(255, 255, 255);
        --cursor-color: white;

        /* Cells */
        --normal-cell: 100, 100, 100;
        /* --code-differs */
        --error-color: 255, 125, 125;
        --normal-cell-color: rgba(var(--normal-cell), 0.2);
        --dark-normal-cell-color: rgba(var(--normal-cell), 0.4);
        --selected-cell-color: rgb(40 147 189 / 65%);
        --code-differs-cell-color: #9b906c;
        --error-cell-color: rgba(var(--error-color), 0.6);
        --bright-error-cell-color: rgba(var(--error-color), 0.9);
        --light-error-cell-color: rgba(var(--error-color), 0);

        /*Export styling*/
        --export-bg-color: hsl(225deg 17% 18%);
        --export-color: rgb(255 255 255 / 84%);
        --export-card-bg-color: rgb(73 73 73);
        --export-card-title-color: rgba(255, 255, 255, 0.85);
        --export-card-text-color: rgb(255 255 255 / 70%);
        --export-card-shadow-color: #0000001c;

        /*Frontmatter styling*/
        --frontmatter-button-bg-color: #554e4e;
        --frontmatter-outline-color: rgb(255 248 235);
        --frontmatter-input-bg-color: #2c2c2c;
        --frontmatter-input-border-color: #757575;

        /*Pluto output styling */
        --pluto-schema-types-color: rgba(255, 255, 255, 0.6);
        --pluto-schema-types-border-color: rgba(255, 255, 255, 0.2);
        --pluto-dim-output-color: hsl(0, 0, 70%);
        --pluto-output-color: hsl(0deg 0% 77%);
        --pluto-output-h-color: hsl(0, 0%, 90%);
        --pluto-output-bg-color: var(--main-bg-color);
        --a-underline: #ffffff69;
        --blockquote-color: inherit;
        --blockquote-bg: #2e2e2e;
        --admonition-title-color: black;
        --jl-message-color: rgb(38 90 32);
        --jl-message-accent-color: rgb(131 191 138);
        --jl-info-color: rgb(42 73 115);
        --jl-info-accent-color: rgb(92 140 205);
        --jl-warn-color: rgb(96 90 34);
        --jl-warn-accent-color: rgb(221 212 100);
        --jl-danger-color: rgb(100 47 39);
        --jl-danger-accent-color: rgb(255, 117, 98);
        --jl-debug-color: hsl(288deg 33% 27%);
        --jl-debug-accent-color: hsl(283deg 59% 69%);
        /* --footnote-border-color */
        --table-border-color: rgba(255, 255, 255, 0.2);
        --table-bg-hover-color: rgba(193, 192, 235, 0.15);
        --pluto-tree-color: rgb(209 207 207 / 61%);

        /*pluto cell styling*/
        --disabled-cell-bg-color: rgba(139, 139, 139, 0.25);
        --selected-cell-bg-color: rgb(42 115 205 / 78%);
        --hover-scrollbar-color-1: rgba(0, 0, 0, 0.15);
        --hover-scrollbar-color-2: rgba(0, 0, 0, 0.05);
        --skip-as-script-background-color: #888;
        --depends-on-skip-as-script-background-color: #666;

        /* Pluto shoulders */
        --shoulder-hover-bg-color: rgba(255, 255, 255, 0.05);

        /* Logs */
        --pluto-logs-bg-color: hsl(0deg 0% 17%);
        --pluto-logs-key-color: rgba(255, 255, 255, 0.6);
        --pluto-logs-progress-fill: #5f7f5b;
        --pluto-logs-progress-bg: #3d3d3d;
        --pluto-logs-progress-border: hsl(210deg 35% 72%);
        --pluto-logs-info-color: #484848;
        --pluto-logs-info-accent-color: inherit;
        --pluto-logs-warn-color: rgb(80 76 38);
        --pluto-logs-warn-accent-color: rgb(239 231 135);
        --pluto-logs-danger-color: rgb(100 47 39);
        --pluto-logs-danger-accent-color: rgb(255 147 132);
        --pluto-logs-debug-color: hsl(288deg 19% 25%);
        --pluto-logs-debug-accent-color: hsl(283deg 56% 79%);

        /*Top navbar styling*/
        --nav-h1-text-color: white;
        --nav-filepicker-color: #b6b6b6;
        --nav-filepicker-border-color: #c7c7c7;
        --nav-process-status-bg-color: rgb(82, 82, 82);
        --nav-process-status-color: var(--pluto-output-h-color);

        /*header*/
        --restart-recc-header-color: rgb(44 106 157 / 56%);
        --restart-recc-accent-color: rgb(44 106 157);
        --restart-req-header-color: rgb(145 66 60 / 56%);
        --dead-process-header-color: rgba(250, 75, 21, 0.473);
        --loading-header-color: hsl(0deg 0% 20% / 50%);
        --disconnected-header-color: rgba(255, 169, 114, 0.56);
        --binder-loading-header-color: hsl(51deg 64% 90% / 50%);

        /*loading bar*/
        --loading-grad-color-1: #a9d4f1;
        --loading-grad-color-2: #d0d4d7;

        /*saveall container*/
        --overlay-button-bg: #2c2c2c;
        --overlay-button-border: #9e9e9e70;
        --overlay-button-border-save: #c7a74670;
        --overlay-button-color: white;

        /*input_context_menu*/
        --input-context-menu-border-color: rgba(255, 255, 255, 0.1);
        --input-context-menu-bg-color: rgb(39, 40, 47);
        --input-context-menu-soon-color: #b1b1b144;
        --input-context-menu-hover-bg-color: rgba(255, 255, 255, 0.1);
        --input-context-menu-li-color: #c7c7c7;

        /*Pkg status*/
        --pkg-popup-bg: #3d2f44;
        --pkg-popup-border-color: #574f56;
        --pkg-popup-buttons-bg-color: var(--input-context-menu-bg-color);
        --black: white;
        --white: black;
        --pkg-terminal-bg-color: #252627;
        --pkg-terminal-border-color: #c3c3c388;

        /* run area*/
        --pluto-runarea-bg-color: rgb(43, 43, 43);
        --pluto-runarea-span-color: hsl(353, 5%, 64%);

        /*drop ruler*/
        --dropruler-bg-color: rgba(255, 255, 255, 0.1);

        /* jlerror */
        --jlerror-header-color: #d9baba;
        --jlerror-mark-bg-color: rgb(0 0 0 / 18%);
        --jlerror-a-bg-color: hsl(65.82deg 17.14% 27.45%);
        --jlerror-a-border-left-color: hsl(66 27% 35% / 1);
        --jlerror-mark-color: #b1a9a9;

        /* helpbox */
        --helpbox-bg-color: rgb(30 34 31);
        --helpbox-box-shadow-color: #00000017;
        --helpbox-header-bg-color: #2c3e36;
        --helpbox-header-tab-bg-color: #554e4e;
        --helpbox-header-color: rgb(255 248 235);
        --helpbox-search-bg-color: #2c2c2c;
        --helpbox-search-border-color: #757575;
        --helpbox-notfound-search-color: rgb(139, 139, 139);
        --helpbox-text-color: rgb(230, 230, 230);
        --code-section-bg-color: rgb(44, 44, 44);
        --code-section-border-color: #555a64;
        --process-item-bg: #443d44;
        --process-busy: #ffcd70;
        --process-finished: hsl(126deg 30% 60%);
        --process-undefined: rgb(151, 151, 151);
        --process-failed: hsl(4, 30%, 60%);
        --process-notify-bg: hsl(0 0% 21%);

        /*footer*/
        --footer-color: #cacaca;
        --footer-bg-color: var(--header-bg-color);
        --footer-atag-color: rgb(114, 161, 223);
        --footer-input-border-color: #6c6c6c;
        --footer-filepicker-button-color: black;
        --footer-filepicker-focus-color: #c1c1c1;
        --footnote-border-color: rgba(114, 225, 231, 0.15);

        /* undo delete cell*/
        --undo-delete-box-shadow-color: rgba(213, 213, 214, 0.2);

        /*codemirror hints*/
        --cm-color-editor-tooltip-border: rgba(0, 0, 0, 0.2);
        --cm-color-editor-li-aria-selected-bg: #3271e7;
        --cm-color-editor-li-aria-selected: white;
        --cm-color-editor-li-notexported: rgba(255, 255, 255, 0.5);
        --code-background: hsl(222deg 16% 19%);
        --cm-color-code-differs-gutters: rgb(235 213 28 / 11%);
        --cm-color-line-numbers: #8d86875e;
        --cm-selection-background: hsl(215deg 64% 59% / 48%);
        --cm-selection-background-blurred: hsl(215deg 0% 59% / 48%);
        --cm-highlighted: #cbceb629;

        /* code highlighting */
        --cm-color-editor-text: #ffe9fc;
        --cm-color-comment: #e96ba8;
        --cm-color-atom: hsl(8deg 72% 62%);
        --cm-color-number: hsl(271deg 45% 64%);
        --cm-color-property: #f99b15;
        --cm-color-keyword: #ff7a6f;
        --cm-color-string: hsl(20deg 69% 59%);
        --cm-color-var: #afb7d3;
        --cm-color-var2: #06b6ef;
        --cm-color-macro: #82b38b;
        --cm-color-builtin: #5e7ad3;
        --cm-color-function: #f99b15;
        --cm-color-type: hsl(51deg 32% 44%);
        --cm-color-bracket: #a2a273;
        --cm-color-tag: #ef6155;
        --cm-color-link: #815ba4;
        --cm-color-error-bg: #ef6155;
        --cm-color-error: #f7f7f7;
        --cm-color-matchingBracket: white;
        --cm-color-matchingBracket-bg: #c58c237a;
        --cm-color-placeholder-text: rgb(255 255 255 / 20%);
        --cm-color-clickable-underline: #5d5f70;

        /* Mixed parsers */
        --cm-color-html: #00ab85;
        --cm-color-html-accent: #00e7b4;
        --cm-color-css: #ebd073;
        --cm-color-css-accent: #fffed2;
        --cm-css-why-doesnt-codemirror-highlight-all-the-text-aaa: #ffffea;
        --cm-color-md: #a2c9d5;
        --cm-color-md-accent: #00a9d1;

        /*autocomplete menu*/
        --autocomplete-menu-bg-color: var(--input-context-menu-bg-color);

        /* Landing colors */
        --index-text-color: rgb(199, 199, 199);
        --index-light-text-color: rgb(199, 199, 199);
        --index-clickable-text-color: rgb(235, 235, 235);
        --docs-binding-bg: #323431;
        --index-card-bg: #313131;
        --welcome-mywork-bg: var(--header-bg-color);
        --welcome-newnotebook-bg: rgb(68 72 102);
        --welcome-recentnotebook-bg: #3b3b3b;
        --welcome-recentnotebook-border: #6e6e6e;
        --welcome-open-bg: hsl(233deg 20% 33%);
        --welcome-card-author-backdrop: #0000006b;
    }

    @media (prefers-contrast: more) {
        :root {
            --cm-color-line-numbers: #b3b3b3;
        }
    }
    body:not(.disable_ui):not(.more-specificity) {
        /* background by SVGBackgrounds.com */
        /* background-color: #0e2a2a; */
        /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='300' height='150' viewBox='0 0 1600 800'%3E%3Cpath fill='%237A7A39' d='M1102.5 734.8c2.5-1.2 24.8-8.6 25.6-7.5.5.7-3.9 23.8-4.6 24.5C1123.3 752.1 1107.5 739.5 1102.5 734.8zM1226.3 229.1c0-.1-4.9-9.4-7-14.2-.1-.3-.3-1.1-.4-1.6-.1-.4-.3-.7-.6-.9-.3-.2-.6-.1-.8.1l-13.1 12.3c0 0 0 0 0 0-.2.2-.3.5-.4.8 0 .3 0 .7.2 1 .1.1 1.4 2.5 2.1 3.6 2.4 3.7 6.5 12.1 6.5 12.2.2.3.4.5.7.6.3 0 .5-.1.7-.3 0 0 1.8-2.5 2.7-3.6 1.5-1.6 3-3.2 4.6-4.7 1.2-1.2 1.6-1.4 2.1-1.6.5-.3 1.1-.5 2.5-1.9C1226.5 230.4 1226.6 229.6 1226.3 229.1zM33 770.3C33 770.3 33 770.3 33 770.3c0-.7-.5-1.2-1.2-1.2-.1 0-.3 0-.4.1-1.6.2-14.3.1-22.2 0-.3 0-.6.1-.9.4-.2.2-.4.5-.4.9 0 .2 0 4.9.1 5.9l.4 13.6c0 .3.2.6.4.9.2.2.5.3.8.3 0 0 .1 0 .1 0 7.3-.7 14.7-.9 22-.6.3 0 .7-.1.9-.3.2-.2.4-.6.4-.9C32.9 783.3 32.9 776.2 33 770.3z'/%3E%3Cpath fill='%232C8585' d='M171.1 383.4c1.3-2.5 14.3-22 15.6-21.6.8.3 11.5 21.2 11.5 22.1C198.1 384.2 177.9 384 171.1 383.4zM596.4 711.8c-.1-.1-6.7-8.2-9.7-12.5-.2-.3-.5-1-.7-1.5-.2-.4-.4-.7-.7-.8-.3-.1-.6 0-.8.3L574 712c0 0 0 0 0 0-.2.2-.2.5-.2.9 0 .3.2.7.4.9.1.1 1.8 2.2 2.8 3.1 3.1 3.1 8.8 10.5 8.9 10.6.2.3.5.4.8.4.3 0 .5-.2.6-.5 0 0 1.2-2.8 2-4.1 1.1-1.9 2.3-3.7 3.5-5.5.9-1.4 1.3-1.7 1.7-2 .5-.4 1-.7 2.1-2.4C596.9 713.1 596.8 712.3 596.4 711.8zM727.5 179.9C727.5 179.9 727.5 179.9 727.5 179.9c.6.2 1.3-.2 1.4-.8 0-.1 0-.2 0-.4.2-1.4 2.8-12.6 4.5-19.5.1-.3 0-.6-.2-.8-.2-.3-.5-.4-.8-.5-.2 0-4.7-1.1-5.7-1.3l-13.4-2.7c-.3-.1-.7 0-.9.2-.2.2-.4.4-.5.6 0 0 0 .1 0 .1-.8 6.5-2.2 13.1-3.9 19.4-.1.3 0 .6.2.9.2.3.5.4.8.5C714.8 176.9 721.7 178.5 727.5 179.9zM728.5 178.1c-.1-.1-.2-.2-.4-.2C728.3 177.9 728.4 178 728.5 178.1z'/%3E%3Cg fill-opacity='0.46' fill='%23FFF'%3E%3Cpath d='M699.6 472.7c-1.5 0-2.8-.8-3.5-2.3-.8-1.9 0-4.2 1.9-5 3.7-1.6 6.8-4.7 8.4-8.5 1.6-3.8 1.7-8.1.2-11.9-.3-.9-.8-1.8-1.2-2.8-.8-1.7-1.8-3.7-2.3-5.9-.9-4.1-.2-8.6 2-12.8 1.7-3.1 4.1-6.1 7.6-9.1 1.6-1.4 4-1.2 5.3.4 1.4 1.6 1.2 4-.4 5.3-2.8 2.5-4.7 4.7-5.9 7-1.4 2.6-1.9 5.3-1.3 7.6.3 1.4 1 2.8 1.7 4.3.5 1.1 1 2.2 1.5 3.3 2.1 5.6 2 12-.3 17.6-2.3 5.5-6.8 10.1-12.3 12.5C700.6 472.6 700.1 472.7 699.6 472.7zM740.4 421.4c1.5-.2 3 .5 3.8 1.9 1.1 1.8.4 4.2-1.4 5.3-3.7 2.1-6.4 5.6-7.6 9.5-1.2 4-.8 8.4 1.1 12.1.4.9 1 1.7 1.6 2.7 1 1.7 2.2 3.5 3 5.7 1.4 4 1.2 8.7-.6 13.2-1.4 3.4-3.5 6.6-6.8 10.1-1.5 1.6-3.9 1.7-5.5.2-1.6-1.4-1.7-3.9-.2-5.4 2.6-2.8 4.3-5.3 5.3-7.7 1.1-2.8 1.3-5.6.5-7.9-.5-1.3-1.3-2.7-2.2-4.1-.6-1-1.3-2.1-1.9-3.2-2.8-5.4-3.4-11.9-1.7-17.8 1.8-5.9 5.8-11 11.2-14C739.4 421.6 739.9 421.4 740.4 421.4zM261.3 590.9c5.7 6.8 9 15.7 9.4 22.4.5 7.3-2.4 16.4-10.2 20.4-3 1.5-6.7 2.2-11.2 2.2-7.9-.1-12.9-2.9-15.4-8.4-2.1-4.7-2.3-11.4 1.8-15.9 3.2-3.5 7.8-4.1 11.2-1.6 1.2.9 1.5 2.7.6 3.9-.9 1.2-2.7 1.5-3.9.6-1.8-1.3-3.6.6-3.8.8-2.4 2.6-2.1 7-.8 9.9 1.5 3.4 4.7 5 10.4 5.1 3.6 0 6.4-.5 8.6-1.6 4.7-2.4 7.7-8.6 7.2-15-.5-7.3-5.3-18.2-13-23.9-4.2-3.1-8.5-4.1-12.9-3.1-3.1.7-6.2 2.4-9.7 5-6.6 5.1-11.7 11.8-14.2 19-2.7 7.7-2.1 15.8 1.9 23.9.7 1.4.1 3.1-1.3 3.7-1.4.7-3.1.1-3.7-1.3-4.6-9.4-5.4-19.2-2.2-28.2 2.9-8.2 8.6-15.9 16.1-21.6 4.1-3.1 8-5.1 11.8-6 6-1.4 12 0 17.5 4C257.6 586.9 259.6 588.8 261.3 590.9z'/%3E%3Ccircle cx='1013.7' cy='153.9' r='7.1'/%3E%3Ccircle cx='1024.3' cy='132.1' r='7.1'/%3E%3Ccircle cx='1037.3' cy='148.9' r='7.1'/%3E%3Cpath d='M1508.7 297.2c-4.8-5.4-9.7-10.8-14.8-16.2 5.6-5.6 11.1-11.5 15.6-18.2 1.2-1.7.7-4.1-1-5.2-1.7-1.2-4.1-.7-5.2 1-4.2 6.2-9.1 11.6-14.5 16.9-4.8-5-9.7-10-14.7-14.9-1.5-1.5-3.9-1.5-5.3 0-1.5 1.5-1.5 3.9 0 5.3 4.9 4.8 9.7 9.8 14.5 14.8-1.1 1.1-2.3 2.2-3.5 3.2-4.1 3.8-8.4 7.8-12.4 12-1.4 1.5-1.4 3.8 0 5.3 0 0 0 0 0 0 1.5 1.4 3.9 1.4 5.3-.1 3.9-4 8.1-7.9 12.1-11.7 1.2-1.1 2.3-2.2 3.5-3.3 4.9 5.3 9.8 10.6 14.6 15.9.1.1.1.1.2.2 1.4 1.4 3.7 1.5 5.2.2C1510 301.2 1510.1 298.8 1508.7 297.2zM327.6 248.6l-.4-2.6c-1.5-11.1-2.2-23.2-2.3-37 0-5.5 0-11.5.2-18.5 0-.7 0-1.5 0-2.3 0-5 0-11.2 3.9-13.5 2.2-1.3 5.1-1 8.5.9 5.7 3.1 13.2 8.7 17.5 14.9 5.5 7.8 7.3 16.9 5 25.7-3.2 12.3-15 31-30 32.1L327.6 248.6zM332.1 179.2c-.2 0-.3 0-.4.1-.1.1-.7.5-1.1 2.7-.3 1.9-.3 4.2-.3 6.3 0 .8 0 1.7 0 2.4-.2 6.9-.2 12.8-.2 18.3.1 12.5.7 23.5 2 33.7 11-2.7 20.4-18.1 23-27.8 1.9-7.2.4-14.8-4.2-21.3l0 0C347 188.1 340 183 335 180.3 333.6 179.5 332.6 179.2 332.1 179.2zM516.3 60.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C517.3 60.4 516.8 60.8 516.3 60.8zM506.1 70.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C506.4 70.5 506.2 70.5 506.1 70.5zM494.1 64.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C494.7 64.3 494.4 64.4 494.1 64.4zM500.5 55.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C500.9 55.3 500.7 55.3 500.5 55.3zM506.7 55c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C507.4 54.8 507.1 55 506.7 55zM1029.3 382.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C1030.3 382.4 1029.8 382.8 1029.3 382.8zM1019.1 392.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C1019.4 392.5 1019.2 392.5 1019.1 392.5zM1007.1 386.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C1007.7 386.3 1007.4 386.4 1007.1 386.4zM1013.5 377.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C1013.9 377.3 1013.7 377.3 1013.5 377.3zM1019.7 377c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C1020.4 376.8 1020.1 377 1019.7 377zM1329.7 573.4c-1.4 0-2.9-.2-4.5-.7-8.4-2.7-16.6-12.7-18.7-20-.4-1.4-.7-2.9-.9-4.4-8.1 3.3-15.5 10.6-15.4 21 0 1.5-1.2 2.7-2.7 2.8 0 0 0 0 0 0-1.5 0-2.7-1.2-2.7-2.7-.1-6.7 2.4-12.9 7-18 3.6-4 8.4-7.1 13.7-8.8.5-6.5 3.1-12.9 7.4-17.4 7-7.4 18.2-8.9 27.3-10.1l.7-.1c1.5-.2 2.9.9 3.1 2.3.2 1.5-.9 2.9-2.3 3.1l-.7.1c-8.6 1.2-18.4 2.5-24 8.4-3 3.2-5 7.7-5.7 12.4 7.9-1 17.7 1.3 24.3 5.7 4.3 2.9 7.1 7.8 7.2 12.7.2 4.3-1.7 8.3-5.2 11.1C1335.2 572.4 1332.6 573.4 1329.7 573.4zM1311 546.7c.1 1.5.4 3 .8 4.4 1.7 5.8 8.7 14.2 15.1 16.3 2.8.9 5.1.5 7.2-1.1 2.7-2.1 3.2-4.8 3.1-6.6-.1-3.2-2-6.4-4.8-8.3C1326.7 547.5 1317.7 545.6 1311 546.7z'/%3E%3C/g%3E%3C/svg%3E"); */
        /* background-attachment: fixed; */
    }
}
