@media (prefers-color-scheme: light) {
    :root {
        --image-filters: none;
        --out-of-focus-opacity: 0.25;

        /* Color scheme */
        --main-bg-color: white;
        --rule-color: rgba(0, 0, 0, 0.15);
        --kbd-border-color: #dfdfdf;
        --header-bg-color: white;
        --header-border-color: rgba(0, 0, 0, 0.1);
        --ui-button-color: #2a2a2b;
        --cursor-color: black;

        /* Cells */
        --normal-cell: 0, 0, 0;
        --code-differs: 160, 130, 28;
        --error-color: 240, 168, 168;
        --normal-cell-color: rgba(var(--normal-cell), 0.1);
        --dark-normal-cell-color: rgba(var(--normal-cell), 0.2);
        --selected-cell-color: rgba(40, 78, 189, 0.4);
        --code-differs-cell-color: rgba(var(--code-differs), 0.68);
        --error-cell-color: rgba(var(--error-color), 0.7);
        --bright-error-cell-color: rgb(var(--error-color));
        --light-error-cell-color: rgba(var(--error-color), 0.05);

        /*Export styling*/
        --export-bg-color: rgb(60, 67, 101);
        --export-color: rgb(228, 228, 228);
        --export-card-bg-color: rgba(255, 255, 255, 0.8);
        --export-card-title-color: rgba(0, 0, 0, 0.7);
        --export-card-text-color: rgba(0, 0, 0, 0.5);
        --export-card-shadow-color: #00000029;

        /*Frontmatter styling*/
        --frontmatter-button-bg-color: white;
        --frontmatter-outline-color: hsl(230, 14%, 11%);
        --frontmatter-input-bg-color: #fbfbfb;
        --frontmatter-input-border-color: hsl(207deg 24% 87%);

        /*Pluto output styling */
        --pluto-schema-types-color: rgba(0, 0, 0, 0.4);
        --pluto-schema-types-border-color: rgba(0, 0, 0, 0.2);
        /* --pluto-dim-output-color */
        --pluto-output-color: hsl(0, 0%, 25%);
        --pluto-output-h-color: hsl(0, 0%, 12%);
        --pluto-output-bg-color: white;
        --a-underline: #00000059;
        --blockquote-color: #555;
        --blockquote-bg: #f2f2f2;
        --admonition-title-color: white;
        --jl-message-color: rgb(219 233 212);
        --jl-message-accent-color: rgb(158, 200, 137);
        --jl-info-color: rgb(214 227 244);
        --jl-info-accent-color: rgb(148, 182, 226);
        --jl-warn-color: rgb(236 234 213);
        --jl-warn-accent-color: rgb(207, 199, 138);
        --jl-danger-color: rgb(245 218 215);
        --jl-danger-accent-color: rgb(226, 157, 148);
        --jl-debug-color: rgb(245 218 215);
        --jl-debug-accent-color: rgb(226, 157, 148);
        --footnote-border-color: rgba(23, 115, 119, 0.15);
        --table-border-color: rgba(0, 0, 0, 0.2);
        --table-bg-hover-color: rgba(159, 158, 224, 0.15);
        --pluto-tree-color: rgb(0 0 0 / 38%);

        /*pluto cell styling*/
        --disabled-cell-bg-color: rgba(139, 139, 139, 0.25);
        --selected-cell-bg-color: rgba(40, 78, 189, 0.24);
        --hover-scrollbar-color-1: rgba(0, 0, 0, 0.15);
        --hover-scrollbar-color-2: rgba(0, 0, 0, 0.05);
        --skip-as-script-background-color: #ccc;
        --depends-on-skip-as-script-background-color: #eee;

        /* Pluto shoulders */
        --shoulder-hover-bg-color: rgba(0, 0, 0, 0.05);

        /* Logs */
        --pluto-logs-bg-color: hsl(0deg 0% 98%);
        --pluto-logs-key-color: rgb(0 0 0 / 51%);
        --pluto-logs-progress-fill: #ffffff;
        --pluto-logs-progress-bg: #e7e7e7;
        --pluto-logs-progress-border: hsl(210deg 16% 74%);
        --pluto-logs-info-color: white;
        --pluto-logs-info-accent-color: inherit;
        --pluto-logs-warn-color: rgb(236 234 213);
        --pluto-logs-warn-accent-color: #665f26;
        --pluto-logs-danger-color: rgb(245 218 215);
        --pluto-logs-danger-accent-color: rgb(172 66 52);
        --pluto-logs-debug-color: rgb(236 223 247);
        --pluto-logs-debug-accent-color: rgb(100 50 179);

        /*Top navbar styling*/
        --nav-h1-text-color: black;
        --nav-filepicker-color: #6f6f6f;
        --nav-filepicker-border-color: #b2b2b2;
        --nav-process-status-bg-color: white;
        --nav-process-status-color: var(--pluto-output-h-color);

        /*header*/
        --restart-recc-header-color: rgba(114, 192, 255, 0.56);
        --restart-recc-accent-color: rgba(114, 192, 255);
        --restart-req-header-color: rgba(170, 41, 32, 0.56);
        --dead-process-header-color: rgb(230 88 46 / 38%);
        --loading-header-color: hsla(290, 10%, 80%, 0.5);
        --disconnected-header-color: rgba(255, 169, 114, 0.56);
        --binder-loading-header-color: hsl(51deg 64% 90% / 50%);

        /*loading bar*/
        --loading-grad-color-1: #f1dba9;
        --loading-grad-color-2: #d7d7d0;

        /*saveall container*/
        --overlay-button-bg: #ffffff;
        --overlay-button-border: hsl(0 4% 91% / 1);
        --overlay-button-border-save: #f3f2f2;
        /* --overlay-button-color */

        /*input_context_menu*/
        --input-context-menu-border-color: rgba(0, 0, 0, 0.1);
        --input-context-menu-bg-color: white;
        --input-context-menu-soon-color: #55555544;
        --input-context-menu-hover-bg-color: rgba(0, 0, 0, 0.1);
        --input-context-menu-li-color: #6b6a6a;

        /*Pkg status*/
        --pkg-popup-bg: white;
        --pkg-popup-border-color: #f0e4ee;
        --pkg-popup-buttons-bg-color: white;
        --black: black;
        --white: white;
        --pkg-terminal-bg-color: #232433;
        --pkg-terminal-border-color: #c3c3c3;

        /* run area*/
        --pluto-runarea-bg-color: hsl(0, 0, 97%);
        --pluto-runarea-span-color: hsl(353, 5%, 64%);

        /*drop ruler*/
        --dropruler-bg-color: rgba(0, 0, 0, 0.5);

        /* jlerror */
        --jlerror-header-color: #4f1616;
        --jlerror-mark-bg-color: rgb(243 243 243);
        --jlerror-a-bg-color: #f5efd9;
        --jlerror-a-border-left-color: #704141;
        --jlerror-mark-color: black;

        /* helpbox */
        --helpbox-bg-color: white;
        --helpbox-box-shadow-color: #00000010;
        --helpbox-header-bg-color: hsl(0deg 0% 92%);
        --helpbox-header-tab-bg-color: white;
        --helpbox-header-color: hsl(230, 14%, 11%);
        --helpbox-search-bg-color: #fbfbfb;
        --helpbox-search-border-color: hsl(207deg 24% 87%);
        --helpbox-notfound-search-color: rgb(139, 139, 139);
        --helpbox-text-color: black;
        --code-section-bg-color: whitesmoke;
        --code-section-bg-color: #f3f3f3; /* TODO: Should this be `-border-color`? */
        --process-item-bg: #f2f2f2;
        --process-busy: #ffcd70;
        --process-finished: hsl(126deg 30% 60%);
        --process-undefined: rgb(151, 151, 151);
        --process-failed: hsl(0deg 72.62% 64.6%);
        --process-notify-bg: hsl(44.86deg 50% 94%);

        /*footer*/
        --footer-color: #333333;
        --footer-bg-color: #d7dcd3;
        --footer-atag-color: black;
        --footer-input-border-color: #818181;
        --footer-filepicker-button-color: white;
        --footer-filepicker-focus-color: #896c6c;
        --footnote-border-color: rgba(23, 115, 119, 0.15);

        /* undo delete cell*/
        --undo-delete-box-shadow-color: #0083;

        /*codemirror hints*/
        --cm-color-editor-tooltip-border: rgba(0, 0, 0, 0.2);
        --cm-color-editor-li-aria-selected-bg: #16659d;
        --cm-color-editor-li-aria-selected: white;
        --cm-color-editor-li-notexported: rgba(0, 0, 0, 0.5);
        --code-background: hsla(46, 90%, 98%, 1);
        --cm-color-code-differs-gutters: rgba(214, 172, 35, 0.2);
        --cm-color-line-numbers: #8d86875e;
        --cm-selection-background: hsl(214deg 100% 73% / 48%);
        --cm-selection-background-blurred: hsl(214deg 0% 73% / 48%);
        --cm-highlighted: #cbceb668;

        /* code highlighting */
        --cm-color-editor-text: #41323f;
        --cm-color-comment:     #e96ba8;
        --cm-color-atom:        #815ba4;
        --cm-color-number:      #815ba4;
        --cm-color-property:    #b67a48;
        --cm-color-keyword:     #ef6155;
        --cm-color-string:      #da5616;
        --cm-color-var:         #5668a4;
        --cm-color-var2:        #37768a;
        --cm-color-macro:       #5c8c5f;
        --cm-color-builtin:     #5e7ad3;
        --cm-color-function:    #cc80ac;
        --cm-color-type:        hsl(170deg 7% 56%);
        --cm-color-bracket:     #41323f;
        --cm-color-tag:         #ef6155;
        --cm-color-link:        #815ba4;
        --cm-color-error-bg:    #ef6155;
        --cm-color-error:       #f7f7f7;
        --cm-color-matchingBracket: black;
        --cm-color-matchingBracket-bg: #1b4bbb21;
        --cm-color-placeholder-text: rgba(0, 0, 0, 0.2);
        --cm-color-clickable-underline: #ced2ef;

        /* Mixed parsers */
        --cm-color-html:        #48b685;
        --cm-color-html-accent: #00ab85;
        --cm-color-css:         #876800;
        --cm-color-css-accent:  #696200;
        --cm-css-why-doesnt-codemirror-highlight-all-the-text-aaa: #3b3700;
        --cm-color-md:          #005a9b;
        --cm-color-md-accent:   #00a9d1;

        /*autocomplete menu*/
        --autocomplete-menu-bg-color: white;

        /* Landing colors */
        --index-text-color: hsl(0, 0, 60);
        --index-light-text-color: #838383;
        --index-clickable-text-color: black;
        --docs-binding-bg: #8383830a;
        --index-card-bg: white;
        --welcome-mywork-bg: hsl(35deg 66% 93%);
        --welcome-newnotebook-bg: whitesmoke;
        --welcome-recentnotebook-bg: white;
        --welcome-recentnotebook-border: #dfdfdf;
        --welcome-open-bg: #fbfbfb;
        --welcome-card-author-backdrop: #ffffffb0;
    }
}
