# This GitHub action checks whether a new version of this package
# has been registred in the official registry.
# If so, it creates a new _release_:
# https://github.com/JuliaPluto/Pluto.jl/releases

name: TagBot

on:
  issue_comment:
    types:
      - created
  workflow_dispatch:

jobs:
    TagBot:
        if: github.event_name == 'workflow_dispatch' || github.actor == 'JuliaTagBot'
        runs-on: [ubuntu-latest]
        steps:
            - uses: JuliaRegistries/TagBot@v1
              with:
                  # We use that PAT token instead of GITHUB_TOKEN because we are triggering another github action on the 'release' event.
                  # Triggering a workflow from a workflow is only allowed if the relaying event is signed with a PAT.
                  # See https://docs.github.com/en/actions/reference/events-that-trigger-workflows#triggering-new-workflows-using-a-personal-access-token
                  token: ${{ secrets.PAT_TOKEN }}
                  changelog: |
                    > **Try this release in your browser!** _(Available 30 minutes after the release)_
                    > 
                    > <a href="https://binder.plutojl.org/{{ version }}/"><img alt="Binder logo" src="https://mybinder.org/badge_logo.svg"></a>
                    >
                    > Learn more about Binder and Pluto at [plutojl.org/en/docs/binder](https://plutojl.org/en/docs/binder/)!

                    {% if custom %}
                    {{ custom }}
                    {% endif %}

                    {% if pulls %}
                    **Merged pull requests:**
                    {% for pull in pulls %}
                    - {{ pull.title }} (#{{ pull.number }}) (@{{ pull.author.username }})
                    {% endfor %}
                    {% endif %}

                    {% if issues %}
                    **Closed issues:**
                    {% for issue in issues %}
                    - {{ issue.title }} (#{{ issue.number }})
                    {% endfor %}
                    {% endif %}
                    
                    # New features
                    *(TODO)*

                    # Performance improvements
                    *(TODO)*

                    # Fixes
                    *(TODO)*

                    # Internal changes
                    *(TODO)*

                    {% if previous_release %}
                    [Diff since {{ previous_release }}]({{ compare_url }})
                    {% endif %}
