name: Run TypeScript checks

on:
    push:
        paths:
            - "**.js"
            - "**.ts"
        branches:
            - main
            - release
    pull_request:
        paths:
            - "**.js"
            - "**.ts"
        branches-ignore:
            - release

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      
      - uses: actions/setup-node@v1
        with:
          node-version: "18.x"

      - run: npm install typescript -g
      
      - name: Run TypeScript checks on frontend/
        run: tsc --noEmit --strictNullChecks false
